#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.container {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  max-width: 300px;
  margin: 100px auto;
}

.mes-acciones {
  display: flex;
  margin: auto;
}

.aumentar-mes,
.mes,
.disminuir-mes {
  flex-grow: 1;
  font-weight: bolder;
  user-select: none;
}

.aumentar-mes:hover,
.disminuir-mes:hover {
  background-color: #3e3e3e;
  border-radius: 10px;
}

.weekdays {
  color: #33dd44;
  font-weight: bold;
  user-select: none;
}

.weekdays,
.monthdays {
  display: grid;
  grid-template-columns: repeat(7, minmax(40px, 50px));
}

.day,
.today {
  user-select: none;
}

.day {
  border-radius: 10px;
}

.day:hover {
  background-color: #2e2e2e;
}

.today {
  background-color: #118822;
  border-radius: 10px;
}

.today:hover {
  background-color: #44bb55;
}

.fecha-actual {
  padding-top: 20px;
}